<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <title>Ajax Test</title>
</head>
<body>
    <div class="mainContainer">
        <button id="ajax">
            Ajax.btn
        </button>
    </div>
    <div class="content">

    </div>

    <script type="text/javascript">
    var order = 0;
    let ajaxBtn = document.getElementById('ajax');

    // ajaxBtn.addEventListener('click', () => {makeRequest("GET", "http://localhost:8000/api/stack", getStack)});

    /*
    * custom callback
    * param@ req: ajax xhr object // req.responseText or req.responseXML
    */
    function getStack(req){
        let data;
        if (req.responseText) {
            data = JSON.parse(req.responseText)[order];
        } else {
            data = req[order];
        }
        let target = document.getElementsByClassName('content')[0];
        let content = `<p> skill: ${data.skill} </p>
        <p> type: ${data.type}</p>
        <p> description: ${data.description}</p>
        <p> mastery: ${data.mastery}</p>
        `;
        if (order == req.length - 1) { order = 0; }
        else order ++
        target.innerHTML = content;
    }

    /*
    *
    * ajax module (reusable)
    * @param: method
    * @param: url
    * @param: callback (control result: 'request')
    */
    // function makeRequest (method, url, callback){
    //     var httpRequest
    //     // xml configuration
    //     if (window.XMLHttpRequest) { // Mozilla, Safari, Chrome...
    //         httpRequest = new XMLHttpRequest;
    //     } else if (window.ActiveXObject) { // IE
    //         try { httpRequest = new ActiveXObject("Microsoft.XMLHTTP"); }
    //         catch (e) {
    //             try { httpRequest = new ActiveXObject("Msxml2.XMLHTTP"); }
    //             catch (e) { console.log(e); }
    //         }
    //     }
    //
    //     if (!httpRequest) {
    //         alert("it's not supported browser");
    //         return false
    //     }
    //     httpRequest.onreadystatechange = readyCallback;
    //     httpRequest.open(method, url);
    //     httpRequest.send();
    //     function readyCallback (){
    //     try {
    //         if (httpRequest.readyState === 4)
    //             if (httpRequest.status === 200) {
    //                 callback(httpRequest);
    //             } else { console.error('request error!')}
    //     } catch (e) { console.error('request error')}
    //     };
    // }

    /*
    *
    * Jquery 활용 ajax 통신
    *
    */

    $('#ajax').click(() => {
        $.ajax({
            url: "http://localhost:8000/api/stack",
            method: "GET",
            dataType: 'JSON',
            error: function (e) { console.log(e); },
            success: function(data){
                getStack(data);
            }
        })
    })



    </script>
</body>
</html>
