<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form id='form' action="post">
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <select name="test" id="test">
      <option value="안녕하세요" selected="selected">kor</option>
      <option value="hi">eng</option>
      <option value="nihao">chi</option>
    </select>
  </form>
</body>
</html>
