<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="border:1px solid black; width:100px; height:100px;cursor:pointer;">
        test page
    </div>
    <script type="text/javascript">
    try {
        console.log('start');
    document.getElementsByTagName('div')[0].addEventListener('click', test);
    function test () {
        console.log('continue');
        let tt = fn;
        tt();

        function fn (){
            console.log('hoist');
        }
    }
    } catch (e) { console.log(e);}
    console.log('finish');
    </script>
</body>
</html>
