<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=j22O5aGIO4xpYhTDwW0A"></script>
    <title>Mobile_GPS</title>
</head>
<body>
    <div id="container">
        
    </div>
    <button class="button">
        장소 조회
    </button>
    <div id="map" style="width:100%;height:400px;"></div>
</body>
<script>
    const container = document.getElementById('container');
    const btn = document.getElementsByClassName('button')[0];

    let marker;
    btn.onclick = (event) => {
        console.log('조회 시작');
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                container.innerText = `위도: ${position.coords.latitude}, 경도: ${position.coords.longitude}, 정확도: ${position.coords.accuracy}`;
                const pos = new naver.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(pos);

                if (marker) marker.setMap(null);

                marker = new naver.maps.Marker({
                    position: pos,
                    map: map
                });
            }, function geo_error(error) {
                alert('ERROR(' + error.code + '): ' + error.message);
            }, { enableHighAccuracy: true });
        } else {
            /* 지오로케이션 사용 불가능 */
            alert('지오로케이션 사용 불가능');
        }
        event.stopPropagation();
    }

    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.3595704, 127.105399), //지도의 초기 중심 좌표
        zoom: 12, //지도의 초기 줌 레벨
    });
    
</script>
</html>