<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form id="form" method="post">
      <input type="text" name="id" placeholder="id" value="aa">
      <input type="password" name="pw" placeholder="password">
      <button onsubmit="return login(e)">
          button
      </button>
    </form>
    <script>
    let form = document.getElementById('form');
    let id = document.getElementsByTagName('input')[0];
    // form.addEventListener('submit', (e) => {
    //   e.preventDefault();
    // });
    function login(evt) {
      evt.preventDefault();
      console.log(evt, evt.target, evt.target.value);
    }


    </script>
</body>
</html>
